<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>EJB in EAR throws custom exception Quickstart</title>
</h:head>

<body>
	<h:form>
		<h3>EJB throws custom exception Quickstart</h3>
		<h5>Clicking the 'Say Hello' button will call the EJB sending it
			the value of the 'Name' input text box and the EJB response will be
			displayed in the 'Response' output text</h5>
		<h5>Clicking the 'Say Hello' button with an empty 'Name' box will
			send an empty string to the EJB resulting in the EJB throwing
			'GreeterException' back, which the web app will catch and display the
			exception's message in the 'Response' output text</h5>
		<h:outputText value="Name: " />
		<h:inputText value="#{greeterBean.name}" />
		<h:commandButton action="#{greeterBean.sayHello}" value="Say Hello" />
		<br />
		<h:outputText value="Response: " />
		<h:outputText value="#{greeterBean.response}" />

		<p:commandButton process="@form" update="@form"
			action="#{greeterBean.sayHello}"></p:commandButton>
	</h:form>
</body>
</html>
